/* 
This reduces the opacity of chat widgets across all websites, because those
things are annoying af (but you still might need to use one sometime).

Curently covers the following live chat integrations:
  ✅ Beacon
  ✅ ChatBot
  ✅ Drift
  ✅ Freshchat
  ✅ Gist
  ✅ Gorgias
  ✅ Hubspot
  ✅ Intercom
  ✅ Kayako
  ✅ LiveChat
  ✅ Qualified
  ✅ Satisfi
  ✅ SnapEngage
  ✅ Tawk.to
  ✅ Tidio
  ✅ Zendesk
*/

:is(
[id*="chat-bot"],
[class*="chat-bot"],
#beacon-container,
#chatbot-chat,
div[class*="drift-frame"],
#fc_widget,
#gist-app,
#gorgias-chat-container,
#hubspot-messages-iframe-container,
body > div[class^="intercom"],
#kayako-messenger,
iframe#q-messenger-frame,
#divSatisfiChat,
#snapengage-link, div[id^="designstudio"],
iframe[title="chat widget"],
#tidio-chat-iframe,
#web-messenger-container
)
{
  opacity: .069 !important;
  transition: opacity 200ms;
}   

:is(
[id*="chat-bot"],
[class*="chat-bot"],
#beacon-container,
#chatbot-chat,
div[class*="drift-frame"],
#fc_widget,
#gist-app,
#gorgias-chat-container,
#hubspot-messages-iframe-container,
body > div[class^="intercom"],
#kayako-messenger,
iframe#q-messenger-frame,
#divSatisfiChat,
#snapengage-link, div[id^="designstudio"],
iframe[title="chat widget"],
#tidio-chat-iframe,
#web-messenger-container
):is(:hover, :focus)
 {
  opacity: 1 !important;
}


